################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ARCN.API/appsettings.Development.json
/.vs
/ARCN.Application/bin/Debug/net8.0/ARCN.Application.deps.json
/ARCN.Application/obj/Debug/net8.0/ARCN.App.5BD1A7BC.Up2Date
/ARCN.Application/obj/Debug/net8.0/ARCN.Application.AssemblyInfoInputs.cache
/ARCN.Application/obj/Debug/net8.0/ARCN.Application.assets.cache
/ARCN.Application/obj/Debug/net8.0/ARCN.Application.csproj.AssemblyReference.cache
/ARCN.Application/obj/Debug/net8.0/ARCN.Application.csproj.CoreCompileInputs.cache
/ARCN.Application/obj/Debug/net8.0/ARCN.Application.csproj.FileListAbsolute.txt
/ARCN.Application/obj/Debug/net8.0/ARCN.Application.GeneratedMSBuildEditorConfig.editorconfig
/ARCN.Application/obj/Debug/net8.0/ARCN.Application.pdb
/ARCN.Application/obj/Debug/net8.0/ARCN.Application.sourcelink.json
/ARCN.Application/obj/ARCN.Application.csproj.nuget.dgspec.json
/ARCN.Application/obj/ARCN.Application.csproj.nuget.g.props
/ARCN.Application/obj/ARCN.Application.csproj.nuget.g.targets
/ARCN.Application/obj/project.assets.json
/ARCN.Application/obj/project.nuget.cache
*.cache
/ARCN.Domain/obj/Debug/net8.0/ARCN.Domain.csproj.CoreCompileInputs.cache
/ARCN.Domain/obj/Debug/net8.0/ARCN.Domain.csproj.FileListAbsolute.txt
/ARCN.Domain/obj/Debug/net8.0/ARCN.Domain.sourcelink.json
/ARCN.Domain/obj/ARCN.Domain.csproj.nuget.dgspec.json
/ARCN.Domain/obj/ARCN.Domain.csproj.nuget.g.props
/ARCN.Domain/obj/ARCN.Domain.csproj.nuget.g.targets
/ARCN.Domain/obj/project.assets.json
/ARCN.Domain/obj/project.nuget.cache
/ARCN.Infrastructure/bin/Debug/net8.0/ARCN.Infrastructure.deps.json
/ARCN.Infrastructure/obj/Debug/net8.0/ARCN.Inf.4BFC741E.Up2Date
/ARCN.Infrastructure/obj/Debug/net8.0/ARCN.Infrastructure.AssemblyInfo.cs
/ARCN.Infrastructure/obj/Debug/net8.0/ARCN.Infrastructure.AssemblyInfoInputs.cache
/ARCN.Infrastructure/obj/Debug/net8.0/ARCN.Infrastructure.assets.cache
/ARCN.Infrastructure/obj/Debug/net8.0/ARCN.Infrastructure.csproj.CoreCompileInputs.cache
/ARCN.Infrastructure/obj/Debug/net8.0/ARCN.Infrastructure.csproj.FileListAbsolute.txt
/ARCN.Infrastructure/obj/ARCN.Infrastructure.csproj.nuget.dgspec.json
/ARCN.Infrastructure/obj/ARCN.Infrastructure.csproj.nuget.g.props
/ARCN.Infrastructure/obj/Debug/net8.0/ARCN.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/ARCN.Infrastructure/obj/Debug/net8.0/ARCN.Infrastructure.sourcelink.json
/ARCN.Infrastructure/obj/ARCN.Infrastructure.csproj.nuget.g.targets
/ARCN.Infrastructure/obj/project.assets.json
/ARCN.Infrastructure/obj/project.nuget.cache
/ARCN.Repository/obj/Debug/net8.0/ARCN.Rep.2292DC55.Up2Date
/ARCN.Repository/obj/Debug/net8.0/ARCN.Repository.AssemblyInfoInputs.cache
/ARCN.Repository/obj/Debug/net8.0/ARCN.Repository.assets.cache
/ARCN.Repository/obj/Debug/net8.0/ARCN.Repository.csproj.CoreCompileInputs.cache
/ARCN.Repository/obj/Debug/net8.0/ARCN.Repository.csproj.FileListAbsolute.txt
/ARCN.Repository/obj/Debug/net8.0/ARCN.Repository.GeneratedMSBuildEditorConfig.editorconfig
/ARCN.Repository/obj/Debug/net8.0/ARCN.Repository.pdb
/ARCN.Repository/obj/Debug/net8.0/ARCN.Repository.sourcelink.json
/ARCN.Repository/obj/ARCN.Repository.csproj.nuget.dgspec.json
/ARCN.Repository/obj/ARCN.Repository.csproj.nuget.g.props
/ARCN.Repository/obj/ARCN.Repository.csproj.nuget.g.targets
/ARCN.Repository/obj/project.assets.json
/ARCN.API/obj/ARCN.API.csproj.nuget.dgspec.json
/ARCN.API/obj/ARCN.API.csproj.nuget.g.props
/ARCN.API/obj/ARCN.API.csproj.nuget.g.targets
/ARCN.API/obj/project.assets.json
/ARCN.API/obj/project.nuget.cache
/ARCN.API/obj/Debug/net8.0/ARCN.API.csproj.FileListAbsolute.txt
/ARCN.API/obj/Debug/net8.0/ARCN.API.csproj.Up2Date
/ARCN.API/obj/Debug/net8.0/ARCN.API.GeneratedMSBuildEditorConfig.editorconfig
/ARCN.API/obj/Debug/net8.0/ARCN.API.genruntimeconfig.cache
/ARCN.API/obj/Debug/net8.0/ARCN.API.MvcApplicationPartsAssemblyInfo.cs
/ARCN.API/obj/Debug/net8.0/ARCN.API.AssemblyInfoInputs.cache
/ARCN.API/obj/Debug/net8.0/ARCN.API.assets.cache
/ARCN.API/obj/Debug/net8.0/ARCN.API.csproj.BuildWithSkipAnalyzers
/ARCN.API/obj/Debug/net8.0/ARCN.API.csproj.CoreCompileInputs.cache
/ARCN.API/obj/Debug/net8.0/ARCN.API.pdb
/ARCN.API/obj/Debug/net8.0/ARCN.API.sourcelink.json
/ARCN.API/obj/Debug/net8.0/apphost.exe
/ARCN.API/obj/Debug/net8.0/ARCN.API.AssemblyInfo.cs
/ARCN.API/Logs/log.txt
/ARCN.API/bin/Debug/net8.0/System.Drawing.Common.dll
/ARCN.API/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/ARCN.API/bin/Debug/net8.0/System.Memory.Data.dll
/ARCN.API/bin/Debug/net8.0/System.Runtime.Caching.dll
/ARCN.API/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/ARCN.API/bin/Debug/net8.0/System.Security.Permissions.dll
/ARCN.API/bin/Debug/net8.0/System.Windows.Extensions.dll
/ARCN.API/bin/Debug/net8.0/TimeZoneConverter.dll
/ARCN.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/ARCN.API/bin/Debug/net8.0/System.CodeDom.dll
/ARCN.API/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/ARCN.API/bin/Debug/net8.0/System.Composition.Convention.dll
/ARCN.API/bin/Debug/net8.0/System.Composition.Hosting.dll
/ARCN.API/bin/Debug/net8.0/System.Composition.Runtime.dll
/ARCN.API/bin/Debug/net8.0/System.Composition.TypedParts.dll
/ARCN.API/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/ARCN.API/bin/Debug/net8.0/Serilog.Settings.Configuration.dll
/ARCN.API/bin/Debug/net8.0/Serilog.Sinks.Console.dll
/ARCN.API/bin/Debug/net8.0/Serilog.Sinks.Debug.dll
/ARCN.API/bin/Debug/net8.0/Serilog.Sinks.File.dll
/ARCN.API/bin/Debug/net8.0/Serilog.Sinks.PeriodicBatching.dll
/ARCN.API/bin/Debug/net8.0/Serilog.Sinks.Seq.dll
/ARCN.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/ARCN.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/ARCN.API/bin/Debug/net8.0/Refit.dll
/ARCN.API/bin/Debug/net8.0/Refit.HttpClientFactory.dll
/ARCN.API/bin/Debug/net8.0/RestSharp.dll
/ARCN.API/bin/Debug/net8.0/Serilog.AspNetCore.dll
/ARCN.API/bin/Debug/net8.0/Serilog.dll
/ARCN.API/bin/Debug/net8.0/Serilog.Extensions.Hosting.dll
/ARCN.API/bin/Debug/net8.0/Serilog.Extensions.Logging.dll
/ARCN.API/bin/Debug/net8.0/Serilog.Formatting.Compact.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.Spatial.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/ARCN.API/bin/Debug/net8.0/Mono.TextTemplating.dll
/ARCN.API/bin/Debug/net8.0/Newtonsoft.Json.dll
/ARCN.API/bin/Debug/net8.0/OneSignal.CSharp.SDK.Core.dll
/ARCN.API/bin/Debug/net8.0/OneSignal.RestAPIv3.Client.dll
/ARCN.API/bin/Debug/net8.0/Parlot.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.OData.Core.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.OData.Edm.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.OData.ModelBuilder.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.OpenApi.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.Extensions.Identity.Core.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.Extensions.Identity.Stores.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.AspNetCore.OData.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/ARCN.API/bin/Debug/net8.0/MediatR.Extensions.Microsoft.DependencyInjection.dll
/ARCN.Repository/obj/project.nuget.cache
/ARCN.API/bin/Debug/net8.0/FluentValidation.DependencyInjectionExtensions.dll
/ARCN.API/bin/Debug/net8.0/FluentValidation.dll
/ARCN.API/bin/Debug/net8.0/Fluid.dll
/ARCN.API/bin/Debug/net8.0/Humanizer.dll
/ARCN.API/bin/Debug/net8.0/MediatR.Contracts.dll
/ARCN.API/bin/Debug/net8.0/MediatR.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/ARCN.API/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/ARCN.API/bin/Debug/net8.0/ARCN.Infrastructure.pdb
/ARCN.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/ARCN.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ARCN.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/ARCN.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ARCN.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/ARCN.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ARCN.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/ARCN.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ARCN.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/ARCN.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/ARCN.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/ARCN.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/ARCN.API/bin/Debug/net8.0/cs
/ARCN.API/bin/Debug/net8.0/de
/ARCN.API/bin/Debug/net8.0/es
/ARCN.API/bin/Debug/net8.0/fr
/ARCN.API/bin/Debug/net8.0/it
/ARCN.API/bin/Debug/net8.0/ja
/ARCN.API/bin/Debug/net8.0/ko
/ARCN.API/bin/Debug/net8.0/pl
/ARCN.API/bin/Debug/net8.0/pt-BR
/ARCN.API/bin/Debug/net8.0/ru
/ARCN.API/bin/Debug/net8.0/runtimes

*.txt
*.dll
*.pdb
*.json
